* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.container {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: orange;
}

.encabezado {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    flex: 1;
    background-color: orange;
    color: white;
}

.encabezado > img {
    height: 3.2rem;
}

.encabezado > h1 {
    font-size: 3rem;
}

.campo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 5.5rem;
    flex: 6;
    border-radius: 20px;
    background-color: rgb(245, 243, 243);
}

.michi {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    border: 1px solid black;
    border-radius: 15px;
    margin: 3rem;
    overflow: hidden;
}

.casilla {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
    background-color: white;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

#ajusteborde1,
#ajusteborde2,
#ajusteborde3 {
    border-right: none;
}

#ajusteborde3,
#ajusteborde4,
#ajusteborde5 {
    border-bottom: none;
}

.datos {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    margin: 3rem;
    border-radius: 20px;
    overflow: hidden;
    background-color: aqua;
}

.datos > p {
    text-align: center;
    font-size: 1.7rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-inline: 0;
    font-weight: bold;
}

.modo {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    flex: 3;
    overflow: hidden;
    border-top: 1px solid black;
    background-color: white;
}

.modo > p {
    font-size: 1.5rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    margin-inline: 0;
}

.pvp1 {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    font-size: 1.1rem;
    padding-inline: 35px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid black;
    border-radius: 8px;
}

.pvp1:hover {
    cursor: pointer;
}

.pvp1:active {
    transform: scale(0.95);
}

.pvp1 > img {
    height: 5.5rem;
    width: auto;
}

.pvp1 > p {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.estado {
    display: flex;
    flex-direction: column;
    flex: 4;
    background-color: white;
}

.estado > h2 {
    text-align: center;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-inline: 0;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#modal1 {
    border: 2px solid black;
    border-radius: 10px;
}

.formulario > form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header_form {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_form > button {
    font-size: 1.2rem;
    background: none;
    border: none;
    font-weight: bold;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

.header_form > button:hover {
    cursor: pointer;
}

.header_form > p {
    font-size: 1.5rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

.info {
    display: flex;
    flex-direction: column;
    flex: 5;
    margin-inline: 0.5rem;
    margin-top: 8px;
    margin-bottom: 8px;
}

.info > label {
    font-size: 1.4rem;
    margin-bottom: 10px;
}

.info > input {
    font-size: 1.2rem;
    margin-bottom: 6px;
    border: 1px solid black;
    border-radius: 6px;
    height: 1.8rem;
}

.enviarmodo1 {
    font-size: large;
    margin-top: 10px;
    width: 35%;
    border: 1px solid black;
    border-radius: 8px;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    background-color: rgb(5, 168, 5);
    color: white;
    font-weight: bold;
}

.enviarmodo1:hover {
    cursor: pointer;
}

.enviarmodo1:active {
    transform: scale(0.95);
}

.estado > button {
    flex: 1;
    margin-inline: 40%;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 1.3rem;
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
    background-color: rgb(93, 93, 252);
    font-weight: bold;
    color: white;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
}

.estado > button:hover {
    cursor: pointer;
}

.estado > button:active {
    transform: scale(0.95);
}

.info > p {
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#win {
    margin-top: 0.2rem;
}

.puntuaciones {
    font-size: 1.2rem;
    height: 1.5rem;
    margin-left: 5px;
}

.turnoactual {
    font-size: 1.2rem;
    height: 1.5rem;
    margin-left: 5px;
}
